/**
* @author Prenom Nom courriel
*/

.bouton {
  @include boutonCommun;
  background-color: $interactivite;
  color: $noir;
  border: none;

  &:after {
    //content: "»";
    margin-left: 0.4em;
  }

  &:hover {
    background: linear-gradient(15deg, #f4d9b3 5.65%, #FFA82F 50.17%, #f4d9b3 97.39%);
  }

  &:active {
    background: linear-gradient(15deg, #f4d9b3 5.65%, #FFA82F 50.17%, #f4d9b3 97.39%);
  }
  &:focus {
    background: linear-gradient(15deg, #f4d9b3 5.65%, #FFA82F 50.17%, #f4d9b3 97.39%);
    border :.3rem solid $interactivite;
    outline : none;
  }
}

.bouton__annuler, input[name="btn_supprimer"], input[name="btn_suppression"] {
  @include boutonCommun;
  background-color: $rouge;
  color: $noir;
  border: none;

  &:after {
    //content: "»";
    margin-left: 0.4em;
  }

  &:hover {
    background: linear-gradient(15deg, #fd8aab 5.65%, #f0245e 50.17%, #fd8aab 97.39%);
  }
  
  &:active {
    background: linear-gradient(15deg, #fd8aab 5.65%, #f0245e 50.17%, #fd8aab 97.39%);
  }
  &:focus {
    background: linear-gradient(15deg, #fd8aab 5.65%, #f0245e 50.17%, #fd8aab 97.39%);
    border :.3rem solid $rouge;
    outline : none;
  }
}