/**
* @author Prenom Nom courriel
*/
@mixin boutonCommun {
  text-decoration: none;
  border-radius: 10px;
  padding: 0.7em 1.2em;
}

.bouton {
  @include boutonCommun;
  background-color: $interactivite;
  color: $noir;
  border: none;
  &:after {
    //content: "»";
    margin-left: 0.4em;
  }
  &:hover {
    background-color: #FF9603;
  }
  &:active {
    // background-color: transparentize($vertLime, 0.5);
  }
}

.bouton__annuler {
  @include boutonCommun;
  background-color: $rouge;
  color: $noir;
  border: none;
  &:after {
    //content: "»";
    margin-left: 0.4em;
  }
  &:hover {
    background-color: #A60A36;
  }
  &:active {
    // background-color: transparentize($vertLime, 0.5);
  }
}


