/**
* @author Elma Atindehou - 2233755@csfoy.ca
* @author Jade Mayrand - 1942810@csfoy.ca
*/

/******** Typographie *********/

// Fonction pour convertir une valeur de font-size en pixels à son équivalent rem
@function calculateRem($size) {
  $remSize: calc($size / 10px);
  @return #{$remSize}rem;
}

// Mixin qui inclus la solution de repli en pixel suivi par la valeur calculée en rem
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
//Pour utiliser la fonction : @include fontSize(15px);


@font-face {
  font-family: PlayfairBLack;
  src: 	url('../fonts/playfair_144pt-black.ttf') format('truetype');
}

@font-face {
  font-family: PlayfairExtraBold;
  src: 	url('../fonts/playfair_144pt-extrabold.ttf') format('truetype');
}
@font-face {
  font-family: PlayfairBold;
  src: 	url('../fonts/playfair_144pt-bold.ttf') format('truetype');
}
@font-face {
  font-family: PlayfairSemiBold;
  src: 	url('../fonts/playfair_144pt-semibold.ttf') format('truetype');
}

@font-face {
  font-family: ArimaBold;
  src: 	url('../fonts/arima-bold.ttf') format('truetype');
}
@font-face {
  font-family: ArimaSemiBold;
  src: 	url('../fonts/arima-semibold.ttf') format('truetype');
}
@font-face {
  font-family: ArimaMedium;
  src: 	url('../fonts/arima-medium.ttf') format('truetype');
}
@font-face {
  font-family: ArimaRegular;
  src: 	url('../fonts/arima-regular.ttf') format('truetype');
}
@font-face {
  font-family: ArimaLight;
  src: 	url('../fonts/arima-light.ttf') format('truetype');
}


// TITRES
$titreH1 : PlayfairBLack;
$titreH2 : PlayfairBold;
$titreH3 : PlayfairExtraBold;
// Texte
$texteGrandeTaille: ArimaBold;
$texteMoyenneTaille: ArimaSemiBold;
$texteCourant : ArimaMedium;
$textePetiteTaille: ArimaRegular;
$texteTresPetiteTaille: ArimaLight;
// Liens
$liens : PlayfairSemiBold;

/**** Typographie responsive ****/

html {
  font-size: 62.5%;
}

body {
  font-family: $texteCourant;
  @include fontSize(16px); /* 16px pour toutes les largeurs d'écran */
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
  @media (min-width: 601px) {

  }
}


.titreNiveau1 {
  font-family: $titreH1;
  @include titreH1;
}
.titreNiveau2 {
  font-family: $titreH2;
}
.titreNiveau3 {
  font-family: $titreH3;
}
.textePetiteTaille{
  font-family: $textePetiteTaille;
}
.textegGrandeTaille{
  font-family: $texteGrandeTaille;
  @include titreDeGrandeTaille;
}
.textegGrandeTaille + .texteMoyenneTaille{
  font-family: $texteMoyenneTaille;
  @include titreMoyenneTaille;
}
.menuListe__lien, .hyperlien{
  font-family: $textePetiteTaille;
  @include lienToutesLesListes;
}
.descriptionItems + p +p{
  color: $gris;
}
label[for="nom_item"]{
  @include texteDeGrandeTaille
}
// h1,
// .titreNiveau1 {
//   text-align: center;
//   @include fontSize(28px);
//   margin: 0;
//   &--desktop {
//     @include fontSize(48px);
//     padding-bottom: 15px;
//     position: relative;
//   }
// }

// h2,
// .titreNiveau2{
//   text-align: center;
//   @include fontSize(20px);
//   text-transform: uppercase;
//   &--desktop {
//     @include fontSize(28px);
//   }
//   @media(min-width:$desktop){
//     text-align: left;
//   }
// }

// h3,
// .titreNiveau3 {
//   @include fontSize(18px);
//   &--desktop {
//     @include fontSize(22px);
//   }
// }

.texte {
  font-family: $texteCourant;
  @include fontSize(16px);
  line-height: 1.375;
  &--desktop {
    line-height: 1.5;
  }
}