/**
* @author Elma Atindehou - 2233755@csfoy.ca
* @author Jade Mayrand - 1942810@csfoy.ca
*/

/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */

/********** Utilitaires de base **********/

/** Box sizing **/
@mixin border-box-sizing {
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
}

/* Clearfix */
@mixin clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

/********* Accessibilité *********/

// Hide only visually, but have it available for screenreaders:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // Extends the .visuallyhidden class to allow the element to be focusable
    // when navigated to via the keyboard: https://www.drupal.org/node/897638
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.visuallyhidden,
.screen-reader-only {
    @include visuallyhidden;
}

@mixin block {
    list-style-type: none;
    padding: 1.5em;
    margin: 1em;
    border-radius: 20px;
    background-color: $blanc;
}

@mixin titre {
    padding: .5em;
    border-radius: 9px;
}

// HIERACHIE DES TEXTES
// H1
@mixin titreH1{
    font-size: 4.3rem ;
    max-width:27rem;
    @media(min-width: $desktop){
       max-width:70%;
    }
}
// TITRE DE GRANDE TAILLE
@mixin titreDeGrandeTaille{
    font-size: 2.3rem;
    @media(min-width: $desktop){
        font-size:2.8rem;;
     }

}
@mixin texteDeGrandeTaille{
    font-size: 1.7rem;
    @media(min-width: $desktop){
        font-size:2rem;;
     }

}
// TITRE DE MOYENNE TAILLE
@mixin titreMoyenneTaille{
    font-size: 1.8rem;
    max-width: 50%;
    text-align: center;
    padding:.7rem;
    border-radius: .5rem;
    @media(min-width: $desktop){
        font-size:2rem;;
     }
}

@mixin lienToutesLesListes{
    font-size: 1.67rem;
}

// BOUTONS
@mixin boutonCommun {
    text-decoration: none;
    border-radius: 10px;
    padding: 0.7em 1.2em;
  }



