/**
* @author Prenom Nom courriel
*/

/** Polices de caractères **/

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$interactivite : #F8B454;
$noir: #000;
$blanc: #FFF;

$background : transparentize(#F8B454, 0.50);

/* Autres couleurs */


/** Points de rupture **/
$desktop : 601px;