// Jade

.accueil{

  &__titre{
    padding: 20px;
  }
  &__layout{
    display: flex;
    flex-direction: row;
  }

}

@media(min-width: $desktop){
  .echeance{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    align-items: center;
  }
}


.intro{
  text-align: center;
  margin: 3em;
  padding: 2em;
  background-color: $blanc;
  border-radius: 30px;

  p{
    font-weight: bold;
    padding-left: .5em;
  }

  li{
    display: flex;
    flex-direction: row;
  }
}

.infos{
  @media(min-width: $desktop){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}


.listes{
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.liste{
width: 200px;
@include block;

&__titre{
  @include titre;
}

&__lien{
color: $blanc;
text-decoration: none;
text-shadow: 
                 1px -1px 0 #444,
                  1px 1px 0 #444;
}

&__lien:hover{
text-decoration: underline;
  }

}

.item{
  @include block;
  width: 300px;
  text-align: center;
  margin: 1em auto;

  @media(min-width: $desktop){
    width: 700px;
  }

  &__titre{
    @include titre;
  }
}

main{
  background-color: $background;
}

.recherche{
  margin-top: 1em;
  background-color: none;
  border: solid 2px $interactivite;
  border-radius: 12px;
  max-width: 250px;
  

  input{
    border: none;
  }

  button{
    border: none;
    background-color: $blanc;
    margin-left: 1em;
  }
}

.bloc{
  padding: 2em;
  border-radius: 12px;
  margin: 3em 20em;
  margin-top: 3em auto;
  background-color: $blanc;
}

.couleurs{
  padding: 2em 2em 2em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__nom{
    padding-left: 2.7em;
    padding-right: .5em;
  }
}


