@charset "UTF-8";
/**
* @author Elma Atindehou - 2233755@csfoy.ca
* @author Jade Mayrand - 1942810@csfoy.ca
*/
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ****************************/
/** Normalize **/
/**** UTILITAIRES ****************************/
/** Variables **/
/**
* @author Elma Atindehou - 2233755@csfoy.ca
* @author Jade Mayrand - 1942810@csfoy.ca
*/
/** Polices de caractères **/
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/** Mixins **/
/**
* @author Elma Atindehou - 2233755@csfoy.ca
* @author Jade Mayrand - 1942810@csfoy.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/****** BASE ********************************/
/** Typographie **/
/**
* @author Elma Atindehou - 2233755@csfoy.ca
* @author Jade Mayrand - 1942810@csfoy.ca
*/
/******** Typographie *********/
@font-face {
  font-family: PlayfairBLack;
  src: url("../fonts/playfair_144pt-black.ttf") format("truetype");
}
@font-face {
  font-family: PlayfairExtraBold;
  src: url("../fonts/playfair_144pt-extrabold.ttf") format("truetype");
}
@font-face {
  font-family: PlayfairBold;
  src: url("../fonts/playfair_144pt-bold.ttf") format("truetype");
}
@font-face {
  font-family: PlayfairSemiBold;
  src: url("../fonts/playfair_144pt-semibold.ttf") format("truetype");
}
@font-face {
  font-family: ArimaBold;
  src: url("../fonts/arima-bold.ttf") format("truetype");
}
@font-face {
  font-family: ArimaSemiBold;
  src: url("../fonts/arima-semibold.ttf") format("truetype");
}
@font-face {
  font-family: ArimaMedium;
  src: url("../fonts/arima-medium.ttf") format("truetype");
}
@font-face {
  font-family: ArimaRegular;
  src: url("../fonts/arima-regular.ttf") format("truetype");
}
@font-face {
  font-family: ArimaLight;
  src: url("../fonts/arima-light.ttf") format("truetype");
}
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: ArimaMedium;
  font-size: 16px;
  font-size: 1.6rem;
  /* 16px pour toutes les largeurs d'écran */
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
.titreNiveau1 {
  font-family: PlayfairBLack;
  font-size: 4.3rem;
  max-width: 27rem;
}
@media (min-width: 601px) {
  .titreNiveau1 {
    max-width: 70%;
  }
}

.titreNiveau2 {
  font-family: PlayfairBold;
}

.titreNiveau3 {
  font-family: PlayfairExtraBold;
}

.textePetiteTaille {
  font-family: ArimaRegular;
}

.textegGrandeTaille {
  font-family: ArimaBold;
  font-size: 2.3rem;
}
@media (min-width: 601px) {
  .textegGrandeTaille {
    font-size: 2.8rem;
  }
}

.textegGrandeTaille + .texteMoyenneTaille {
  font-family: ArimaSemiBold;
  font-size: 1.8rem;
  max-width: 50%;
  text-align: center;
  padding: 0.7rem;
  border-radius: 0.5rem;
}
@media (min-width: 601px) {
  .textegGrandeTaille + .texteMoyenneTaille {
    font-size: 2rem;
  }
}

.menuListe__lien, .hyperlien {
  font-family: ArimaRegular;
  font-size: 1.67rem;
}

.descriptionItems + p + p {
  color: #929292;
}

label[for=nom_item] {
  font-size: 1.7rem;
}
@media (min-width: 601px) {
  label[for=nom_item] {
    font-size: 2rem;
  }
}

.texte {
  font-family: ArimaMedium;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/** Hyperliens **/
/**
* @author Elma Atindehou - 2233755@csfoy.ca
* @author Jade Mayrand - 1942810@csfoy.ca
*/
.hyperlien {
  position: relative;
  padding: 1rem;
  color: black;
  text-decoration: none;
  border-bottom: 0.3rem solid black;
}
.hyperlien:visited {
  color: black;
  border-bottom: 0.3rem solid #F8B454;
}
.hyperlien:hover {
  border-bottom: 0.3rem solid #F8B454;
  color: black;
}
.hyperlien:hover::before {
  position: absolute;
  top: 1rem;
  left: 8rem;
  font-size: 2.5rem;
  content: "➙";
  color: #F8B454;
}
.hyperlien:active {
  color: black;
  border-bottom: 0.3rem solid #F8B454;
}
.hyperlien:active::before {
  position: absolute;
  top: 1rem;
  left: 8rem;
  font-size: 2.5rem;
  content: "➙";
  color: #F8B454;
}
.hyperlien:focus {
  outline: none;
}
.hyperlien:focus {
  border-top: 0.3rem solid #F8B454;
  border-bottom: 0.3rem solid #F8B454;
  border-left: 0.3rem solid #F8B454;
  border-right: none;
}
.hyperlien:focus::before {
  position: absolute;
  top: 1rem;
  left: 8rem;
  font-size: 2.5rem;
  content: "➙";
  color: #F8B454;
}

.lienConsulter:hover::before {
  position: absolute;
  top: 1rem;
  left: 23rem;
  font-size: 3rem;
  content: "➙";
  color: #F8B454;
}

.lienConsulter {
  margin-top: 20rem;
}

.ajoutListe:hover::before {
  position: absolute;
  top: 0;
  left: 12.5rem;
  font-size: 3rem;
  content: "⊕";
  color: #F8B454;
}

.ajoutListePrincipale:hover::before {
  position: absolute;
  top: 0;
  left: 16rem;
  font-size: 3rem;
  content: "⊕";
  color: #F8B454;
}

.lienRetour:hover::before {
  position: absolute;
  top: 0.5rem;
  left: 16rem;
  font-size: 3rem;
  content: "➙";
  color: #F8B454;
}

.lienRetour {
  position: relative;
  bottom: 3rem;
  left: 3rem;
  margin-bottom: 10rem;
}

/** Boutons **/
/**
* @author Elma Atindehou - 2233755@csfoy.ca
* @author Jade Mayrand - 1942810@csfoy.ca
*/
.bouton {
  text-decoration: none;
  border-radius: 10px;
  padding: 0.7em 1.2em;
  background-color: #F8B454;
  color: #000;
  border: none;
}
.bouton:after {
  margin-left: 0.4em;
}
.bouton:hover {
  background: linear-gradient(15deg, #f4d9b3 5.65%, #FFA82F 50.17%, #f4d9b3 97.39%);
}
.bouton:active {
  background: linear-gradient(15deg, #f4d9b3 5.65%, #FFA82F 50.17%, #f4d9b3 97.39%);
}
.bouton:focus {
  background: linear-gradient(15deg, #f4d9b3 5.65%, #FFA82F 50.17%, #f4d9b3 97.39%);
  border: 0.3rem solid #F8B454;
  outline: none;
}

.bouton__annuler, input[name=btn_supprimer], input[name=btn_suppression] {
  text-decoration: none;
  border-radius: 10px;
  padding: 0.7em 1.2em;
  background-color: #f0245e;
  color: #000;
  border: none;
}
.bouton__annuler:after, input[name=btn_supprimer]:after, input[name=btn_suppression]:after {
  margin-left: 0.4em;
}
.bouton__annuler:hover, input[name=btn_supprimer]:hover, input[name=btn_suppression]:hover {
  background: linear-gradient(15deg, #fd8aab 5.65%, #f0245e 50.17%, #fd8aab 97.39%);
}
.bouton__annuler:active, input[name=btn_supprimer]:active, input[name=btn_suppression]:active {
  background: linear-gradient(15deg, #fd8aab 5.65%, #f0245e 50.17%, #fd8aab 97.39%);
}
.bouton__annuler:focus, input[name=btn_supprimer]:focus, input[name=btn_suppression]:focus {
  background: linear-gradient(15deg, #fd8aab 5.65%, #f0245e 50.17%, #fd8aab 97.39%);
  border: 0.3rem solid #f0245e;
  outline: none;
}

.annuler {
  border: none;
  background-color: transparent;
  position: relative;
}

/** Grille 12 colones **/
/*** Classe conteneur pour le centrage et l'affichage de la grille en arrière-plan ***/
@media (min-width: 600px) {
  .conteneur {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    /* Grille 12 colonnes en arrière-plan - Mettre en commentaires après usage */
  }
}
/*** Classes pour dimensionner les blocs ***/
@media (min-width: 600px) {
  /*** Classe de base pour l'intégration en flexbox ***/
  .rangee {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* valeur par défaut */
  }
  .cols_1_de_12 {
    width: 6.5%;
  }
  .cols_2_de_12 {
    width: 15%;
  }
  .cols_3_de_12 {
    width: 23.5%;
  }
  .cols_4_de_12 {
    width: 32%;
  }
  .cols_5_de_12 {
    width: 40.5%;
  }
  .cols_6_de_12 {
    width: 49%;
  }
  .cols_7_de_12 {
    width: 57.5%;
  }
  .cols_8_de_12 {
    width: 66%;
  }
  .cols_9_de_12 {
    width: 74.5%;
  }
  .cols_10_de_12 {
    width: 83%;
  }
  .cols_11_de_12 {
    width: 91.5%;
  }
  .cols_12_de_12 {
    width: 100%;
  }
}
/****** MODULES *****************************/
/****** LAYOUT *****************************/
/**
* @author Jade Mayrand - 1942810@csfoy.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - LISTES
 * ----------------------------
 * STYLE GENERAL 
 * ASIDE
 * BARRE RECHERCHE
 * ECHEANCE
 * LISTE DE LISTES
 * AJOUTER/MODIFIER
 * MESSAGE ERREUR
*/
main {
  background-color: rgba(248, 180, 84, 0.5);
}

.accueil__titre {
  padding: 20px;
}
.accueil__layout {
  display: flex;
  flex-direction: row;
}

.intro {
  text-align: center;
  margin: 3em;
  padding: 2em;
  background-color: #FFF;
  border-radius: 30px;
}
.intro p {
  font-weight: bold;
  padding-left: 0.5em;
}
.intro li {
  display: flex;
  flex-direction: row;
}

@media (min-width: 601px) {
  .infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.recherche {
  margin-top: 1em;
  background-color: none;
  border: solid 2px #F8B454;
  border-radius: 12px;
  max-width: 250px;
}
.recherche input {
  border: none;
}
.recherche button {
  border: none;
  background-color: #FFF;
  margin-left: 1em;
}

.item {
  list-style-type: none;
  padding: 1.5em;
  margin: 1em;
  border-radius: 20px;
  background-color: #FFF;
  width: 300px;
  text-align: center;
  margin: 1em auto;
}
@media (min-width: 601px) {
  .item {
    width: 700px;
  }
}
.item__titre {
  padding: 0.5em;
  border-radius: 9px;
}

@media (min-width: 601px) {
  .echeance {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    align-items: center;
  }
}
.listes {
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.liste {
  width: 200px;
  list-style-type: none;
  padding: 1.5em;
  margin: 1em;
  border-radius: 20px;
  background-color: #FFF;
}
.liste__titre {
  padding: 0.5em;
  border-radius: 9px;
}
.liste__lien {
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px -1px 0 #666, 1px 1px 0 #666;
}
.liste__lien:hover {
  text-decoration: underline;
}

.bloc {
  padding: 2em;
  border-radius: 12px;
  margin: 1em;
  margin-top: 3em auto;
  background-color: #FFF;
}
@media (min-width: 601px) {
  .bloc {
    margin: 3em 20em;
  }
}

.couleurs {
  padding: 2em 2em 2em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.couleurs__nom {
  padding-left: 2.7em;
  padding-right: 0.5em;
}

.error {
  color: #f0245e;
  font-size: 1.2em;
}

/**
* @author Jade Mayrand - 1942810@csfoy.ca
*/
.entete {
  background-color: #FFF;
  padding-top: 3em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 601px) {
  .entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.entete .profile {
  width: 25%;
  height: 25%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 601px) {
  .entete .profile {
    width: 10%;
    height: 10%;
    margin: 0;
  }
}

/**
* @author Jade Mayrand - 1942810@csfoy.ca
*/
.piedDePage {
  background-color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: none;
  margin-top: 2em;
}
@media (min-width: 601px) {
  .piedDePage {
    max-width: 25%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.piedDePage .profile {
  width: 25%;
  margin: 2em auto;
  text-align: center;
}
@media (min-width: 601px) {
  .piedDePage .profile {
    margin: 0 auto;
  }
}

/**
* @author Elma Atindehou - 2233755@csfoy.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - ITEMS DE LA LISTE
 * ----------------------------
 * ENTETE 
 * TEXTE DE GRANDE TAILLE *** PAGE DES TYPOS
 * UL
 * LI
 * LIENS *** PAGE DES LIENS
 * SECTION LISTES
 * H1 *** PAGE DES TYPOS
 * ARRIERE PLAN
 * LISTES
 * TEXTE DE TAILLE MOYENNE *** PAGE DES TYPOS
 * UL
 * LI
 * PARAGRAPHE
 * TEXTE DE PETITE TAILLE *** PAGE DES TYPOS
 * LIENS *** PAGE DES LIENS
 * PIED DE PAGE 




/*** ENTETE ****/
/*** ENTETE DE PAGE ****/
.pAutreTaches {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 601px) {
  .pAutreTaches {
    width: 60%;
  }
}

.menuListe {
  width: 96%;
  margin: 0 auto;
}

.menuListe__listes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menuListe__items {
  list-style: none;
  padding: 1rem;
  width: 20%;
  margin: 1rem 1rem 2.5rem 1rem;
  height: 3rem;
}

.menuListe__items:focus {
  outline: none;
}

.menuListe__lien {
  width: 100%;
  text-decoration: none;
}

.menuListe__lien:focus {
  outline: none;
}

/*** SECTION LISTES ****/
.itemsDeLaListe {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 2rem;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0.1rem 0.4rem 1rem 0.4rem #caa269;
}

.mainListe {
  width: 100%;
  padding-bottom: 7rem;
}

/*** LISTES ****/
.conteneurTitreListe {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.descriptionItems {
  display: flex;
  flex-direction: column;
}

.itemsDeLaListe li {
  list-style: none;
}

.itemsDeLaListe__item {
  position: relative;
  list-style: none;
  background-color: white;
  padding: 1rem;
  margin: 1rem auto;
  border-top: 0.6rem solid black;
  border-radius: 2rem;
  width: 90%;
  height: 20rem;
}

.conteneurBtnEditon {
  position: absolute;
  top: 5rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  border: none;
}

.iconeSupp {
  margin-top: 1.5rem;
}

.svg {
  background-color: none;
}

/*** PAGE DE MODIFICATION/AJOUT****/
.divMofification {
  height: 110vh;
  padding-left: 7rem;
}

input[type=text], .selectionDate {
  max-width: 60%;
  padding: 2rem;
  border-radius: 1.7rem;
  border-left: 0.3rem solid #F8B454;
  border-right: none;
  border-top: none;
  border-bottom: none;
  box-shadow: 0.3rem 0 0.5rem 0 rgba(192, 115, 7, 0.25) inset;
}

.formulireModifAjout div {
  display: flex;
  flex-direction: column;
  margin: 0 0 4rem 2rem;
}

.selectionDate {
  padding: 0.7rem 0 0.7rem 0.4rem;
  border-radius: 1.3rem;
  margin-right: 1rem;
}

.selectionDate:first-of-type {
  width: 25%;
}

.selectionDate:nth-of-type(2) {
  width: 10%;
}

.selectionDate:nth-of-type(3) {
  width: 15%;
}

.lienConsulter + .conteneurBoutons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 5rem auto 0 auto;
}

input[name=btn_modifier], input[name=btn_nouveau], input[name=btn_ajouter] {
  margin-right: 4rem;
  width: 60%;
}

input[name=btn_ajouter] {
  margin-top: 4rem;
}

.formNouveau {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.titreNiveau2 + .conteneurRadio {
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;
}

input[name=rappel] {
  opacity: 0;
}

label[for=oui] {
  margin-right: 3rem;
}

.boutonRadio {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
  border: 0.2rem solid black;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.boutonRadio:hover {
  transform: translateY(-10%) scale(1.2);
  border-color: #C07307;
  box-shadow: 0 0 0.4rem #C07307;
}

input[name=rappel]:checked + .boutonRadio::after {
  position: absolute;
  font-size: 1rem;
  top: 0.5rem;
  left: 0.3rem;
  content: "🟠";
}

input[name=rappel]:checked + .boutonRadio {
  border: 0.2rem solid #C07307;
}

input[name=rappel] + .boutonRadio:focus::after {
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  content: "🟠";
}

input[name=rappel] + .boutonRadio:focus {
  border-radius: 0;
  border: 0.3rem double black;
}

.titreNiveau2 + .divEcheance {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: relative;
}

input[name=ajoutSans] {
  margin-left: 0.7rem;
  opacity: 0;
}

.boutonCheckbox {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 17.5rem;
  border-radius: 5%;
  margin-right: 1rem;
  border: 0.2rem solid black;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.boutonCheckbox:hover {
  transform: translateY(-10%) scale(1.2);
  border-color: #C07307;
  box-shadow: 0 0 0.4rem #C07307;
}

input[name=ajoutSans]:checked + .boutonCheckbox::after {
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  content: "✓";
}

input[name=ajoutSans]:checked + .boutonCheckbox {
  border: 0.2rem solid #C07307;
}

input[name=ajoutSans] + .boutonCheckbox:focus::after {
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  content: "✓";
}

input[name=ajoutSans] + .boutonCheckbox:focus {
  border-radius: 0;
  border: 0.3rem double black;
}

.iconeNonCheck:hover {
  fill: #C07307;
  stroke: #C07307;
  cursor: pointer;
}

.iconePoubelle:hover {
  cursor: pointer;
  fill: #f0245e;
}

.iconeModif:hover {
  fill: #C07307;
}

/*** PIED DE PAGE ****/

/*# sourceMappingURL=styles.css.map */
